#header1{
    background : #4d8ede;
    text-decoration-color : #ffffff ;
    text-size-adjust : auto;
    padding : 20px;
    
}
#headertext {
    text-align: left;
    text-transform: uppercase;
    color: #ffffff;
}

.navbar-brand {
    display: flex;
    width: 100%;
    justify-content: right;
}
nav ul {
    justify-content : space-between;
}
b{
    color : #ffffff;
}
<div class ="jumbotron" >

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
<a class ="navbar-brand" href ="#" >
<img src ="images/logo.png" / >
</a >
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
<span class="navbar-toggler-icon" > </span >
</button >

<div class="collapse navbar-collapse" id="navbarSupportedContent" >
<ul class="navbar-nav mr-auto" >
<li class="nav-item active" >
<a class="nav-link" href="home.aspx" > <b > HOME </b > </a >
</li >
<li class="nav-item active" >
<a class="nav-link" href="about.aspx" > <b > ABOUT FTZWS</b > </a >
</li >
<li class="nav-item active" >
<a class="nav-link" href="services.aspx" > <b > OUR SERVICES</b > </a >
</li >
<li class="nav-item active" >
<a class="nav-link" href="clients.aspx" > <b > OUR CLIENTS</b > </a >
</li >
</li >
<li class="nav-item active" >
<a class="nav-link" href="contact.aspx" > <b > CONTACT US</b > </a >
</li >
</ul >

</div >
</nav >
</div >